/* NONSTICKY HOVER STATE */

@media (hover: hover) {
  .header__btn:hover {
    color: hsla(192, 100%, 9%, 0.4);
  }

  .hero__btn:hover {
    background-color: rgba(255, 82, 191, 0.5);
  }

  .footer-link:hover {
    border-color: #fff;
  }

  .footer__socials li a i:hover {
    border: 0.15rem solid var(--pink);
    color: var(--pink);
  }

  .attribution a:hover {
    border-color: var(--pink);
  }
}

/* SMALLER DESKTOPS */

@media (max-width: 80em) {
  .header__bkg-wrapper {
    background: url(../images/bg-hero-desktop.svg) top/100% no-repeat,
      var(--very-pale-cyan);
    padding: 0 3.2rem;
  }

  .header {
    max-width: 120rem;
  }

  .section-huddle-features {
    max-width: 110rem;
  }
}

/* TABLETS landscape  */

@media (max-width: 75em) {
  html {
    /* new font size = 9px */
    font-size: 56.5%;
  }

  .grid {
    column-gap: 6.4rem;
  }

  .huddle-feature__text-box {
    padding-right: 9.6rem;
  }

  .huddle-feature__text-box:nth-of-type(2) {
    padding-right: 0;
    padding-left: 9.6rem;
  }
}

/* TABLET portrait  */

@media (max-width: 64em) {
  html {
    font-size: 50%;
  }

  .header__bkg-wrapper {
    padding: 0 4.8rem;
  }

  .hero__img-box {
    display: flex;
    justify-content: flex-end;
  }

  .hero__img {
    width: 95%;
  }

  .section-huddle-features {
    padding: 9.6rem 0 30rem;
  }

  .footer {
    padding: 19rem 6.4rem 9.6rem;
  }
}

/* smaller TABLETS */

@media (max-width: 56.5em) {
  .heading-primary {
    font-size: 3.5rem;
  }

  .section-huddle-features {
    padding: 16rem 4.8rem 34rem;
  }

  .footer__floating-card .heading-secondary {
    font-size: 2.5rem;
  }
}

/* MOBILE PHONES */

/* iPhone 12/13/14 Pro Max */

@media (max-width: 26.75em) {
  .grid--2-cols {
    grid-template-columns: 1fr;
    row-gap: 8rem;
  }

  .header__bkg-wrapper {
    background: url(../images/bg-hero-mobile.svg) top/100% no-repeat,
      var(--very-pale-cyan);
    padding: 0 3rem;
  }

  .header__top {
    margin-bottom: 9.6rem;
  }

  .header__logo {
    width: 15rem;
  }

  .header__btn:link,
  .header__btn:visited {
    padding: 1rem 3rem;
  }

  /* hero */

  .section-hero {
    text-align: center;
    padding: 0 3rem;
  }

  .heading-primary {
    font-size: 3.2rem;
    margin-bottom: 3.5rem;
    /* padding: 0 1rem; */
  }

  .huddle-hero-description {
    font-size: 2.15rem;
    margin-bottom: 5rem;
  }

  .hero__btn:link,
  .hero__btn:visited {
    padding: 2rem 9rem;
  }

  .hero__img {
    width: 100%;
  }

  /* features */

  .section-huddle-features {
    padding: 9.6rem 3.2rem 34rem;
  }

  .grid--2-cols__features,
  .grid--2-cols__features:nth-of-type(2) {
    grid-template-columns: 1fr;
    row-gap: 7rem;
  }

  .huddle-feature {
    padding: 7.4rem 6rem 4.8rem;
    text-align: center;
  }

  .huddle-feature__img-box {
    grid-row: 1;
    align-self: end;
  }

  .huddle-feature__text-box,
  .huddle-feature__text-box:nth-of-type(2) {
    padding: 0;
    align-self: end;
  }

  /* footer */

  .footer__floating-card {
    top: -15%;
    width: 93%;
  }

  .btn.hero__btn--big:link,
  .btn.hero__btn--big:visited {
    padding: 2.4rem 7.4rem;
  }

  .footer {
    font-size: 2.25rem;
    padding: 19rem 3.2rem 9.6rem;
  }

  .grid--footer {
    grid-template-columns: 1fr;
    /* row-gap: 6.4rem; */
  }

  .footer__nav-box {
    gap: 3.2rem;
  }

  .mb-footer {
    margin-bottom: 3.2rem;
  }

  .footer__huddle-address,
  .footer__nav-box:last-of-type,
  .footer__socials {
    margin-bottom: 6.4rem;
  }

  .footer__huddle-address li {
    gap: 3.2rem;
  }

  .footer__huddle-address li img {
    margin-top: 0.7rem;
  }

  .footer__nav-box {
    font-size: 2.4rem;
  }

  .footer__socials {
    margin-bottom: 1.2rem;
  }

  .footer__socials ul {
    display: flex;
    justify-content: center;
  }

  .footer__socials li a i {
    width: 4.5rem;
    height: 4.5rem;
  }

  .footer__copyright {
    text-align: center;
    font-size: 1.6rem;
  }
}

@media (max-width: 23.4375em) {
  html {
    font-size: 47%;
  }

  .header__top {
    margin-bottom: 6.4rem;
  }

  .section-hero {
    padding: 0 1.8rem;
  }

  .huddle-feature--description {
    font-size: 1.7rem;
  }
}
