/* NONSTICKY HOVER STATE */

@media (hover: hover) {
  .header__btn:hover {
    color: hsla(192, 100%, 9%, 0.4);
  }

  .hero__btn:hover {
    background-color: rgba(255, 82, 191, 0.5);
  }

  .footer-link:hover {
    border-color: #fff;
  }

  .footer__socials li a i:hover {
    border: 0.15rem solid var(--pink);
    color: var(--pink);
  }

  .attribution a:hover {
    border-color: var(--pink);
  }
}

/* SMALLER DESKTOPS */

@media (max-width: 80em) {
  .header {
    max-width: 120rem;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .section-huddle-features {
    max-width: 110rem;
  }
}

/* TABLETS (LANDSCAPE)  */

@media (max-width: 75em) {
  html {
    /* new font size = 9px */
    font-size: 56.5%;
  }

  .grid {
    column-gap: 6.4rem;
  }

  .huddle-feature__text-box {
    padding-right: 9.6rem;
  }

  .huddle-feature__text-box:nth-of-type(2) {
    padding-right: 0;
    padding-left: 9.6rem;
  }
}
