@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
  /* Primary Colors */

  --pink: rgb(255, 82, 191);

  /* Neutral Colors */

  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);

  /* Typography */

  --fonts-heading: 'Poppins', sans-serif;
  --fonts-body: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--fonts-body);
  color: var(--very-dark-cyan);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  background: url(images/bg-hero-desktop.svg) top no-repeat,
    var(--very-pale-cyan);
  padding: 48px 80px;
}

.header .top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px;
}

.top-section .logo img {
  width: 200px;
}

.top-section .try-btn {
  display: inline-block;
  padding: 15px 65px;
  border-radius: 50px;
  background-color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--very-dark-cyan);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.top-section .try-btn:hover {
  color: hsla(192, 100%, 9%, 0.4);
}

.main-section {
  display: flex;
  justify-content: space-between;
}

.main-section img {
  width: 690px;
}

.hu-introductory {
  max-width: 510px;
  margin-top: 85px;
}

.hu-introductory h1 {
  font-family: var(--fonts-heading);
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.hu-introductory p {
  line-height: 1.5;
  margin-bottom: 30px;
}

.hu-introductory .get-started-btn {
  display: inline-block;
  padding: 20px 70px;
  font-size: 0.8rem;
  font-weight: 700;
  color: #fff;
  background-color: var(--pink);
  border-radius: 50px;
  box-shadow: 0 5px 26px rgba(255, 82, 191, 0.4);
}

.hu-introductory .get-started-btn:hover {
  background-color: rgba(255, 82, 191, 0.5);
}

/* Middle part */

.feature-blocks {
  padding: 160px 100px 340px;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 35px 55px 120px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.block img {
  width: 405px;
}

.block div {
  width: 500px;
}

.block h2 {
  font-family: var(--fonts-heading);
  margin-bottom: 20px;
}

.block p {
  color: var(--grayish-blue);
  line-height: 1.6;
}

.block:nth-of-type(2) {
  flex-direction: row-reverse;
}

.block:nth-of-type(3) {
  margin-bottom: 0;
}

/* Floating card */

.floating-card {
  width: 800px;
  height: 280px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
}

.floating-card h2 {
  font-family: var(--fonts-heading);
  color: var(--very-dark-cyan);
  text-align: center;
  padding: 70px 50px 130px;
}

.floating-card .get-started-btn {
  display: inline-block;
  padding: 30px 100px;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  background-color: var(--pink);
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30%;
}

.floating-card .get-started-btn:hover {
  background-color: rgba(255, 82, 191, 0.5);
}

/* Bottom section */

.bottom-section {
  background-color: var(--very-dark-cyan);
  color: #fff;
  position: relative;
  padding: 190px 120px 120px;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.logo-container {
  margin-bottom: 30px;
}

.mid-container {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  gap: 100px;
}

.hu-address {
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

.hu-address li {
  display: flex;
  align-items: flex-start;
  gap: 18px;
}

.hu-address li {
  margin-bottom: 25px;
}

.hu-address li:last-of-type {
  margin-bottom: 0;
}

.hu-address li img {
  margin-top: 5px;
}

.hu-address a {
  color: #fff;
}

.hu-links {
  min-width: 295px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hu-links .left,
.right {
  display: flex;
  flex-direction: column;
}

.hu-links .left a,
.right a {
  color: #fff;
  margin-bottom: 25px;
}

.hu-links a:hover {
  text-decoration: underline;
}

.hu-socials {
  max-width: 265px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hu-socials ul {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.hu-socials li a i {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 1.5px solid #fff;
  border-radius: 50%;
}

.hu-socials li a i:hover {
  border: 1.5px solid var(--pink);
  color: var(--pink);
}

.copyright {
  align-self: flex-end;
  max-width: 1240px;
}

.copyright p {
  font-size: 0.7rem;
}

/* Footer */

footer {
  padding: 5px 0;
  text-align: center;
}

footer a {
  color: var(--pink);
  font-weight: 700;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 428px) {
  .header {
    background: url(images/bg-hero-mobile.svg) top/100% no-repeat,
      var(--very-pale-cyan);
    padding: 40px 25px;
  }

  .top-section .logo img {
    width: 120px;
  }

  .top-section .try-btn {
    padding: 8px 28px;
    border-radius: 50px;
    font-size: 0.8rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

  .header .top-section {
    margin-bottom: 0px;
  }

  .main-section {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .main-section img {
    width: 340px;
  }

  .hu-introductory {
    margin-top: 80px;
  }

  .hu-introductory h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .hu-introductory p {
    font-size: 1rem;
    margin-bottom: 40px;
  }

  .hu-introductory .get-started-btn {
    padding: 15px 60px;
    font-size: 0.75rem;
  }

  .hu-introductory {
    margin-bottom: 55px;
  }

  /* middle part */

  .feature-blocks {
    padding: 70px 27px 200px;
    align-items: center;
    justify-content: center;
  }

  .block {
    flex-direction: column-reverse;
    padding: 65px 0px 40px;
    text-align: center;
  }

  .block:nth-of-type(2) {
    flex-direction: column-reverse;
  }

  .block img {
    width: 270px;
    margin-bottom: 60px;
  }

  .block div {
    max-width: 300px;
  }

  .block h2 {
    font-size: 1.3rem;
  }

  .block p {
    font-size: 0.9rem;
  }

  /* floating card */

  .floating-card {
    max-width: 395px;
    max-height: 180px;
    border-radius: 20px;
    top: -11%;
  }

  .floating-card h2 {
    font-size: 1.1rem;
    padding: 40px 0 80px;
  }

  .floating-card .get-started-btn {
    padding: 15px 50px;
    font-size: 0.65rem;
    /* top: 16%; */
  }

  /* bottom part */

  .bottom-section {
    flex-direction: column;
    padding: 130px 25px 40px;
  }

  .mid-container {
    flex-direction: column;
    font-size: 1rem;
    justify-content: space-between;
    gap: 70px;
  }

  .logo-container {
    margin-bottom: 20px;
  }

  .hu-address {
    max-width: 380px;
  }

  .hu-address li {
    gap: 25px;
  }

  .hu-address li img {
    width: 20px;
  }

  .hu-links {
    flex-direction: column;
    font-size: 1.1rem;
  }

  .hu-links .right a:last-of-type {
    margin-bottom: 0;
  }

  .hu-socials {
    max-width: 450px;
    justify-content: center;
  }

  .hu-socials ul {
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .hu-socials .copyright {
    align-self: center;
  }

  footer {
    font-size: 0.7rem;
  }
}

@media (max-width: 375px) {
  .header {
    background: url(images/bg-hero-mobile.svg) top no-repeat,
      var(--very-pale-cyan);
    padding: 30px 15px;
  }

  .top-section .logo img {
    width: 100px;
  }

  .top-section .try-btn {
    padding: 6px 25px;
    border-radius: 50px;
    font-size: 0.7rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

  .header .top-section {
    margin-bottom: 0px;
  }

  .main-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 35px;
  }

  .main-section img {
    width: 300px;
  }

  .hu-introductory h1 {
    font-size: 1.3rem;
    margin-bottom: 25px;
  }

  .hu-introductory p {
    font-size: 0.8rem;
    margin-bottom: 30px;
  }

  .hu-introductory .get-started-btn {
    padding: 12px 47px;
    font-size: 0.6rem;
  }

  .hu-introductory {
    margin-bottom: 55px;
  }

  /* middle part */

  .feature-blocks {
    padding: 65px 25px 200px;
    align-items: center;
    justify-content: center;
  }

  .block {
    flex-direction: column-reverse;
    padding: 55px 10px 35px;
    text-align: center;
  }

  .block:nth-of-type(2) {
    flex-direction: column-reverse;
  }

  .block img {
    width: 230px;
    margin-bottom: 60px;
  }

  .block div {
    width: 270px;
  }

  .block h2 {
    font-size: 1.25rem;
  }

  .block p {
    font-size: 0.8rem;
  }

  /* floating card */

  .floating-card {
    max-width: 350px;
    max-height: 180px;
    border-radius: 20px;
    top: -11%;
  }

  .floating-card h2 {
    font-size: 1rem;
    padding: 40px 0 0;
  }

  .floating-card .get-started-btn {
    padding: 15px 43px;
    font-size: 0.6rem;
    top: 16%;
  }

  /* bottom part */

  .bottom-section {
    flex-direction: column;
    padding: 130px 20px 40px;
  }

  .mid-container {
    flex-direction: column;
    font-size: 0.9rem;
    justify-content: space-between;
    gap: 70px;
  }

  .logo-container {
    margin-bottom: 20px;
  }

  .hu-address {
    max-width: 380px;
  }

  .hu-address li {
    gap: 25px;
  }

  .hu-address li img {
    width: 20px;
  }

  .hu-links {
    flex-direction: column;
    font-size: 1rem;
  }

  .hu-links .right a:last-of-type {
    margin-bottom: 0;
  }

  .hu-socials {
    max-width: 450px;
    justify-content: center;
  }

  .hu-socials ul {
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .hu-socials .copyright {
    align-self: center;
  }

  footer {
    font-size: 0.7rem;
  }
}
